@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* Variables */
:root {
    --font-family: "Roboto", sans-serf;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #fcfcfc;
    --bc-color: #333;
    --primary-color: #4756df;
    --secondary-color: #ff7235;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
}
/* Variables end */

/* CSS Resets */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

footer {
    background-color: var(--primary-color);
    padding: 1.25rem;
    text-align: center;
    color: var(--bg-color);
    margin: 2rem 0 0;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

a {
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--secondary-color);
}
