@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* Variables */
:root {
    --font-family: "Roboto", sans-serf;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #fcfcfc;
    --bc-color: #333;
    --primary-color: #4756df;
    --secondary-color: #ff7235;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
}
/* Variables end */

/* CSS Resets */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
    padding: 1.5rem 3.5rem;
    background-color: var(--primary-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    width: 100px;
    height: 50px;
}

nav ul {
    display: flex;
    gap: 1.9rem;
    list-style-type: none;
}

nav ul li {
    font-weight: var(--bold-font);
}

nav a {
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--bg-color);
    transition: var(--transition);
}

nav a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

.burger_menu,
.closer_menu {
    background-color: transparent;
    color: var(--bg-color);
    font-size: 2rem;
    cursor: pointer;
    border: none;
    display: none;
}

.navbar {
    gap: 1.5rem;
    display: none;
    flex-direction: column;
    align-items: center;
}

.navbar li {
    font-weight: var(--bold-font);
    list-style-type: none;
}

.navbar li a {
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--bg-color);
    transition: var(--transition);
}

.navbar a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

@media screen and (max-width: 720px) {
    header {
        padding: 1rem 3rem;
    }

    .logo h1 {
        font-size: 1.5rem;
    }

    .container nav ul {
        display: none;
    }

    .burger_menu {
        display: block;
    }
}

@media screen and (max-width: 420px) {}
