@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* Variables */
:root {
    --font-family: "Roboto", sans-serf;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #fcfcfc;
    --bc-color: #333;
    --primary-color: #4756df;
    --secondary-color: #ff7235;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
}
/* Variables end */

/* CSS Resets */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.projects {
    background-color: var(--bg-color);
    padding: 32px 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
  
.project-pic {
    width: 65%;
    height: 60%;
}

.projects-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-title {
    text-align: center;
    margin-bottom: 1rem;
}
  
.project-container {
    text-align: center;
    width: 21.875rem;
    padding: 1rem;
}

.project-container p, 
.project-container a {
    padding: 0.4rem;
}

.project-container a {
    text-decoration: none;
}

.project-container a:hover {
    color: var(--secondary-color);
}
  
.project-title {
    margin-bottom: var(--bottom-margin);
}
  
.project-details {
    margin-bottom: var(--bottom-margin);
}

.project-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding: 20px;
    margin: 10px;
}

@media screen and (max-width: 720px) {
    .projects-container {
        flex-direction: column;
    }
    
    .project-container {
        width: 20.875rem;
    }
}